* {
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #444;
    padding: 20px 0;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 30%;
    padding-left: 200px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* nav h4 {
    display: flex;
} */
.description {
    display: flex;
    justify-content: center;
    padding: 20px 10em;
    background-color: coral;
}