* {
    margin: 0;
    padding: 0;
}


/* Fonts 
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
*/

:root {
    --black: #000;
    --gray: #A7A7A7;
    --white: #f3f3f3;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--gray);
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--gray);
    padding: 20px 40px;
    border-bottom: 2px solid var(--black);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 35%; 
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--black);
    font-size: 24px;
}

.name {
    display: flex;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: var(--black);
    padding-left: 8px
}

.jumbotron {
    background-image: url(images/ink\ abstract\ by\ FREEJECT\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    border-bottom: 10px solid var(--black);
}

.header-contents {
    width: 50%;
    margin-left: 50px;
    padding-left: 50px;
}

.header {
    padding-top: 50px;
    font-size: 60px;
    color: var(--white);
}

.description {
    display: flex;
    justify-content: center;
    text-align: justify;
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
}

.about-me-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
    margin-left: 5rem;
}

#rounded-image-shell {
    width: 80%;
}

#apuy-rounded-image {
    max-width: 100%;
    border-radius: 50%;
}

#about-me-article {    
    width: 75%;
    text-align: center;
    margin-left: 5rem;
    border: 10px double var(--black);
    background-color: var(--white);
}

/* tablet */
/* @media screen (max-width: 768px) */